@{
    ViewBag.Title = "Confirm Email";
  
}


<div class="lg2">
    <h1> :) Congratulations!</h1>
    <h1>
        Your Account has been created. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h1>
</div>
