@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

<div style="padding:200px 0px 200px 50px">
    <h1>A LINK has been sent to your account. Please check your email to reset PASSWORD!</h1>
</div>

