
@{
    ViewBag.Title = "NewRegister";
    Layout = null;
}

<div style="padding:200px 0px 200px 50px">
    <h1>Please check your email for account confirmation and click the link to log in!</h1>
</div>

