@{
    ViewBag.Title = "Reset password confirmation";
   
}

<div class="lg2">
    <h3 style="color:forestgreen">Change Success!</h3>
    <h5>
        Your PASSWORD has been changed successfully. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) with the NEW PASSWORD!!
    </h5>
</div>
