@{
    ViewBag.Title = "Reset password confirmation";
    Layout = null;
}

<div style="padding:200px 0px 200px 50px">
    <h1>:) CONGRATULATIONS!!</h1>
    <h2>
        Your PASSWORD has been changed successfully. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) with the NEW PASSWORD!!
    </h2>
</div>
